html {
  box-sizing: border-box;
  font-size: 16px;
}
html * {
  box-sizing: border-box;
}
/*--------------------- Layout and Typography ----------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
  color: #555;
}
a {
  color: #46AFEB;
}
a:hover {
  color: #4ac0ff;
}
a:visited {
  color: #41aee3;
}
p {
  margin: .8em 0 .8em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 .6em 0;
  line-height: 1.2em;
  color: #444;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h6 {
  font-size: 1rem;
}
h5 {
  font-size: 1rem;
}
h4 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.75rem;
}
h1 {
  font-size: 2.25rem;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
  padding-bottom: 13px;
}
ul {
  margin-bottom: 1em;
}
ul li {
  margin-bottom: .6em;
}
#container {
  position: relative;
}
#container #page {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-top: none;
}
#readme-container {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-top: none;
}
#background {
  position: fixed;
  top: 0;
  left: 500px;
  right: 0;
  bottom: 0;
  background: rgba(255, 251, 247, 0.63);
  border-left: 1px solid #ecedee;
  z-index: -1;
}
#projectname {
  top: 2px;
  font-style: italic;
  -webkit-box-shadow: 0 0 25px #777;
  -moz-box-shadow: 0 0 25px #777;
  padding: 5px 10px;
  position: fixed;
  font-size: 1.2rem;
  left: 50px;
  background-color: white;
  display: none;
}
#projectname a {
  text-decoration: none;
}
#projectname a:hover {
  text-decoration: underline;
}
#generated {
  margin: 10px;
  float: right;
}
.gravatar img {
  width: 30px;
  margin-right: 5px;
  vertical-align: middle;
}
#content {
  padding: 2.5em 3.5em;
  padding-top: 1px;
}
#jump_to,
#jump_page {
  background: white;
  -webkit-box-shadow: 0 0 25px #777;
  -moz-box-shadow: 0 0 25px #777;
  cursor: pointer;
  text-align: right;
}
#jump_to,
#jump_wrapper {
  position: fixed;
  right: 0;
  top: 0;
  padding: 1em 1.75em;
  font-size: .8rem;
  z-index: 1000;
}
#jump_wrapper {
  padding: 0;
  display: none;
  height: 100%;
}
#jump_to:hover #jump_wrapper {
  display: block;
}
#jump_page {
  padding: 0.8em;
  margin: 0 0 25px 25px;
  min-height: 200px;
  min-width: 350px;
  overflow-y: auto;
  max-height: 90%;
}
#jump_page .source {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  border-top: 1px solid #eee;
  color: #4985b4;
}
#jump_page .source:hover {
  background: #59a4dd;
  color: #fff;
}
#jump_page .selected {
  background: #4985b4;
  color: #fff;
}
#jump_page .source .base_path {
  display: block;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1em;
}
#jump_page .source .base_path .separator {
  margin-right: 2px;
  margin-leftl: 2px;
}
table td {
  border: 0;
  outline: 0;
}
td.docs,
th.docs {
  max-width: 500px;
  min-width: 500px;
  min-height: 5px;
  padding: 10px 25px 1px 40px;
  overflow-x: hidden;
  vertical-align: top;
  text-align: left;
}
td.docs {
  font-size: 85%;
}
.docs .filepath {
  margin-top: -10px;
  margin-left: 25px;
}
.docs pre {
  margin: 15px 0 15px;
  padding-left: 15px;
}
pre,
tt,
code {
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin: 0;
  padding: 0;
}
tt,
code {
  background: #f8f8ff;
  border: 1px solid #dedede;
  padding: .1em 0.3em;
}
.readme pre.prettyprint,
.docs pre.prettyprint,
.content pre.prettyprint {
  background: rgba(255, 251, 247, 0.63);
  white-space: pre;
  margin-bottom: 1em;
}
.readme pre.prettyprint code,
.docs pre.prettyprint code,
.content pre.prettyprint code {
  background: none;
  border: none;
  padding: 0;
}
.code code {
  background: none;
  border: none;
  padding: 0;
}
.docs .dox {
  background: rgba(243, 243, 243, 0.63);
  padding: 1em 1.4em;
  margin-bottom: 1.2em;
}
.docs .dox .dox_tag_title {
  font-weight: bold;
}
.docs .dox .dox_tag_detail {
  margin: .8em .2em;
}
.docs .dox .dox_tag_detail span {
  margin-right: 5px;
}
.docs .dox .dox_tag_detail > span:first-child {
  font-weight: bold;
}
.docs .dox .dox_type {
  font-style: italic;
}
.docs p {
  margin-top: 0;
}
.docs h1,
.docs h2,
.docs h3,
.docs h4,
.docs h5,
.docs h6 {
  margin-top: 0;
}
.pilwrap {
  position: relative;
}
.pilcrow {
  font: 12px Arial;
  text-decoration: none;
  color: #454545;
  position: absolute;
  top: 3px;
  left: -20px;
  padding: 1px 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
}
td.docs:hover .pilcrow {
  opacity: 1;
}
td.code,
th.code {
  padding: 10px 15px 16px 25px;
  width: 100%;
  vertical-align: top;
}
thead td.docs h1,
thead th.docs h1 {
  font-size: 1.5rem;
}
thead th.docs h1 {
  font-size: 2.25rem;
  border-bottom: none;
}
thead td.code,
thead th.code,
thead th.docs,
thead td.docs {
  background: #4985b4;
  border-bottom: 5px solid #E0E0E0;
}
thead th.docs {
  padding-top: 2em;
  padding-bottom: 3em;
  color: #fff;
  min-height: 140px;
  display: block;
}
thead th.docs h1 {
  color: #fff;
}
tbody tr:first-child td.docs,
tbody tr:first-child td.code {
  padding-top: 2em;
}
tbody tr:hover td {
  background: #f8faf7;
}
.readme tbody tr:hover td {
  background: none;
}
pre.code_stats {
  padding: 0;
  margin: 0;
  overflow: auto;
}
.docs p {
  color: #241F1F;
}
.docs code {
  font-size: 0.8rem;
}
#artifacts {
  -webkit-columns: 3;
  -moz-columns: 3;
}
#readme-container {
  padding: 2em 3em;
  padding-top: 1px;
}
.source-block {
  line-height: 18px;
}
#page,
#readme-container {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}
#page > *:first-child,
#readme-container > *:first-child {
  margin-top: 0 !important;
}
#page > *:last-child,
#readme-container > *:last-child {
  margin-bottom: 0 !important;
}
#page .absent,
#readme-container .absent {
  color: #c00;
}
#page .anchor,
#readme-container .anchor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}
#page .anchor:focus,
#readme-container .anchor:focus {
  outline: none;
}
#page h1,
#readme-container h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}
#page h2,
#readme-container h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}
#page h3,
#readme-container h3 {
  font-size: 1.5em;
  line-height: 1.43;
}
#page h4,
#readme-container h4 {
  font-size: 1.25em;
}
#page h5,
#readme-container h5 {
  font-size: 1em;
}
#page h6,
#readme-container h6 {
  font-size: 1em;
  color: #777;
}
#page hr,
#readme-container hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}
#page li > p,
#readme-container li > p {
  margin-top: 16px;
}
#page dl,
#readme-container dl {
  padding: 0;
}
#page dl dt,
#readme-container dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
#page dl dd,
#readme-container dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
#page blockquote,
#readme-container blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
#page blockquote > :first-child,
#readme-container blockquote > :first-child {
  margin-top: 0;
}
#page blockquote > :last-child,
#readme-container blockquote > :last-child {
  margin-bottom: 0;
}
#page table,
#readme-container table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
#page table th,
#readme-container table th {
  font-weight: bold;
}
#page table tr,
#readme-container table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
#page table tr:nth-child(2n),
#readme-container table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
#page img,
#readme-container img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#page span.frame,
#readme-container span.frame {
  display: block;
  overflow: hidden;
}
#page span.frame > span,
#readme-container span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #ddd;
}
#page span.frame span img,
#readme-container span.frame span img {
  display: block;
  float: left;
}
#page span.frame span span,
#readme-container span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #333;
}
#page span.align-center,
#readme-container span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}
#page span.align-center > span,
#readme-container span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}
#page span.align-center span img,
#readme-container span.align-center span img {
  margin: 0 auto;
  text-align: center;
}
#page span.align-right,
#readme-container span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
#page span.align-right > span,
#readme-container span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}
#page span.align-right span img,
#readme-container span.align-right span img {
  margin: 0;
  text-align: right;
}
#page span.float-left,
#readme-container span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}
#page span.float-left span,
#readme-container span.float-left span {
  margin: 13px 0 0;
}
#page span.float-right,
#readme-container span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}
#page span.float-right > span,
#readme-container span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}
#page del code,
#readme-container del code {
  text-decoration: inherit;
  vertical-align: text-top;
}
#page pre,
#readme-container pre {
  word-wrap: normal;
}
#page pre > code,
#readme-container pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
#page .highlight,
#readme-container .highlight {
  margin-bottom: 16px;
}
#page .highlight pre,
#readme-container .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
#page h1,
#readme-container h1,
#page h2,
#readme-container h2,
#page h3,
#readme-container h3,
#page h4,
#readme-container h4,
#page h5,
#readme-container h5,
#page h6,
#readme-container h6 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}
#page h1:hover .anchor,
#readme-container h1:hover .anchor,
#page h2:hover .anchor,
#readme-container h2:hover .anchor,
#page h3:hover .anchor,
#readme-container h3:hover .anchor,
#page h4:hover .anchor,
#readme-container h4:hover .anchor,
#page h5:hover .anchor,
#readme-container h5:hover .anchor,
#page h6:hover .anchor,
#readme-container h6:hover .anchor {
  height: 1em;
  padding-left: 8px;
  margin-left: -30px;
  line-height: 1;
  text-decoration: none;
}
#page h1 tt,
#readme-container h1 tt,
#page h1 code,
#readme-container h1 code,
#page h2 tt,
#readme-container h2 tt,
#page h2 code,
#readme-container h2 code,
#page h3 tt,
#readme-container h3 tt,
#page h3 code,
#readme-container h3 code,
#page h4 tt,
#readme-container h4 tt,
#page h4 code,
#readme-container h4 code,
#page h5 tt,
#readme-container h5 tt,
#page h5 code,
#readme-container h5 code,
#page h6 tt,
#readme-container h6 tt,
#page h6 code,
#readme-container h6 code {
  font-size: inherit;
}
#page p,
#readme-container p,
#page blockquote,
#readme-container blockquote,
#page ul,
#readme-container ul,
#page ol,
#readme-container ol,
#page dl,
#readme-container dl,
#page table,
#readme-container table,
#page pre,
#readme-container pre {
  margin-top: 0;
  margin-bottom: 16px;
}
#page ul,
#readme-container ul,
#page ol,
#readme-container ol {
  padding-left: 2em;
}
#page ul.no-list,
#readme-container ul.no-list,
#page ol.no-list,
#readme-container ol.no-list {
  padding: 0;
  list-style-type: none;
}
#page ul ul,
#readme-container ul ul,
#page ul ol,
#readme-container ul ol,
#page ol ol,
#readme-container ol ol,
#page ol ul,
#readme-container ol ul {
  margin-top: .5em;
}
#page table th,
#readme-container table th,
#page table td,
#readme-container table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
#page code,
#readme-container code,
#page tt,
#readme-container tt {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}
#page code:before,
#readme-container code:before,
#page code:after,
#readme-container code:after,
#page tt:before,
#readme-container tt:before,
#page tt:after,
#readme-container tt:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
#page code br,
#readme-container code br,
#page tt br,
#readme-container tt br {
  display: none;
}
#page .highlight pre,
#readme-container .highlight pre,
#page pre,
#readme-container pre {
  overflow: auto;
  background-color: #f7f7f7;
  border-radius: 3px;
  font-size: 13px;
  line-height: 24px;
  padding: 16px 24px;
}
#page pre code,
#readme-container pre code,
#page pre tt,
#readme-container pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
#page pre code:before,
#readme-container pre code:before,
#page pre code:after,
#readme-container pre code:after,
#page pre tt:before,
#readme-container pre tt:before,
#page pre tt:after,
#readme-container pre tt:after {
  content: normal;
}
